h1
{ 
color:Black;
border:2px solid black;
width=200px;
}
h3
{ 
color:Purple;
border:2px solid black;
width=250px;
padding:0.5em;
}
p
{
color:black;
border:2px solid black;
height=300px;
width=200px;
}
